<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoProject">

	<listeners>
		<listener class-name="com.demoproject.utilities.Reporting"></listener>
	</listeners>

	<test name="BankingApp Test">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.demoproject.testCases.TC_LoginTest_001" />
			<!-- <class name="com.demoproject.testCases.TC_LoginDDT_002" /> -->
			
		</classes>
	</test>

</suite> 
